---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ksmAvatar from "@/assets/ksm-avatar/ksm_435x435.jpg";
import SpringEffect from "@/components/SpringEffect";

const foreignLinks = [
	{
		name: "github",
		href: "https://github.com/kasumi-ovo",
		icon: "icon-[ri--github-line]",
		className: "bg-black text-white dark:text-black dark:bg-white",
	},
	{
		name: "bilibili",
		href: "https://space.bilibili.com/12877881",
		icon: "icon-[ri--bilibili-fill]",
		className: "bg-blue-400 text-white",
	},
] as const;
---

<BaseLayout>
	<section class="banner">
		<div class="flex items-center justify-between w-full h-fit mt-[14vh]">
			<div class="left-text">
				<div class="welcome-title">
					<p>Hi~</p>
					<p>
						Here's <span class="font-dancing-script text-red-600"
							>Kasumi</span
						>
					</p>
				</div>
				<div class="welcome-intro">
					<p>I'm a front-end developer dream to be a Guitar Hero..</p>
					<p>Welcome to my Page⭐⭐</p>
				</div>

				<div class="flex gap-3 mt-4">
					{
						foreignLinks.map(({ className, href, icon, name }) => (
							<SpringEffect client:visible>
								<a
									href={href}
									target="_blank"
									class={`foreign-link-btn ${className}`}
									aria-label={name}
								>
									<span class={icon} />
								</a>
							</SpringEffect>
							// <SpringButton
							// 	ariaLabel={name}
							// 	bgColor={bgColor}
							// 	client:visible
							// >

							// </SpringButton>
						))
					}
				</div>
			</div>
			<Image
				src={ksmAvatar}
				alt="ksm"
				loading="eager"
				quality="max"
				class="right-image"
			/>
		</div>
	</section>
</BaseLayout>

<style>
	@reference "@/styles/global.css";
	.banner {
		@apply flex  justify-between  h-[calc(100vh-var(--height-header))] w-full;
	}
	.welcome-title {
		@apply font-black text-5xl;
	}
	.welcome-intro {
		@apply text-sm mt-1;
	}
	.foreign-link-btn {
		@apply text-2xl w-full h-full flex justify-center items-center p-1 rounded-lg;
	}
	.left-text {
		@apply leading-5;
	}
	.right-image {
		@apply h-58 w-58 rounded-full;
	}
</style>
